<center>
    
    <div style="display: inline-block">
        <a href="http://www.nicksdance.com">
        <img src="https://www.nicksdance.com/@Bin/120307/vaalea_nicks_logo.jpg"/>
        <div>
        Nick's Dance Sport
        </div>
        </a>
    </div>
    <div style="display: inline-block">
&
    </div>
    <div style="display: inline-block">
        <a href="http://dancing.fi">
        <img src="http://www.dancing.fi/static/img/logo.jpg"/>
        <div>
        Tanssiklubi Dancing
        </div>
        </a>
    </div>
    
    <div style="display: block">
        ovat kohta</br>
        <br/><br/>
        <b style="font-size: 5em">Nick's Dancing</b>
    </div>
    <div style="display: block">
        Kotisivut avautuvat ennen vuodenvaihdetta 2019
    </div>
        
    
</center>